.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-between;
}



.logo {
  font-size: 24px;
  /* margin-left: 20px; */
  font-weight: bold;
  color: white;
  cursor: pointer;
}



.searchbar {
  width: 40%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 5px;
}

.searchInput {
  border: none;
  width: 20%;
}

.searchInput:focus {
  outline: none;
}



.topbarLinks {
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbarIcons {
  display: flex;
}

/* .topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
} */



.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
/* .topbarLinks{
  position: relative;
  width: 200px;
} */
.topbarLink{
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}